body {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid;
    justify-content: space-between;
}

#list_pages {
    list-style-type: none;
    display: none;
    gap: 10px;
}

#navigate {
    display: flex;
    padding: 15px;
    margin-right: 25px;
}

/* MAIN */

main {
    padding: 10px;
}

#sections {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-columns: minmax(100%, 100%);
    padding: 10px;
}

@media screen and (width >= 768px) {
    #sections {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: minmax(600px, 768px);
    }
    #list_pages {
        display: flex;
    }
    #navigate {
        display: none;
    }
}

@media screen and (width >= 1024px) {
    #sections {   
        grid-auto-columns: minmax(768px, 1024px);
    }
}

@media screen and (width >= 1200px) {
    #sections {   
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: minmax(1024px, 1200px);
    }
}

.card {
    border: solid;
    border-radius: 5px;
}

.img {
    align-content: center;
    text-align: center;
    height: 100px;
}

.text-section {
    border-top: solid;
    padding: 10px;
}

.link_details {
    text-decoration: none;
    color: black;
}

/* FOOTER */

footer {
    align-items: center;
    display: flex;
    padding: 10px;
    border-top: solid;
    justify-content: space-between;
    flex-direction: column;
}

#informations {
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
}

#logo {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

#slogan {
    padding: 10px;
    text-align: center;
}

#links_footer {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

@media screen and (width >= 768px) {
    #links_footer {
        gap: 100px;
    }
    #links_footer {
        flex-direction: row;
    }
    footer {
        flex-direction: row;
    }
}

ul {
    padding: 0;
}

.links_section_footer {
    list-style-type: none;
}