<div class="testimonial-card">
    <h3>What our customer are saying</h3>
    <hr />
    <div class="testimonial-content">
      <div class="testimonial-customer">
        <img [src]="customer.image" alt="{{ customer.name }}" class="avatar" />
        <div>
          <h4>{{ customer.name }}</h4>
          <p class="role">{{ customer.role }}</p>
        </div>
      </div>
      <div class="testimonial-info">
        <blockquote>
          "{{ customer.testimonial }}"
        </blockquote>
      </div>
    </div>
</div>
<div class="controls">
    <button (click)="prevTestimonial()">←</button>
    @for (testimonial of testimonials; track $index) {
      @if (currentIndex === $index) {
          <div class="testimonial active-testimonial"></div>
      } @else {
          <div class="testimonial"></div>
      }
  }
    <button (click)="nextTestimonial()">→</button>
</div>
  