.testimonial-card {
  background: linear-gradient(to top right,#3b82f6,#91bdf3);
  color: white;
  border-radius: 12px;
  padding: 30px;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 50px;

  hr {
    width: 50px;
    margin: 10px auto;
    border: 1px solid #fff;
  }
  
  .testimonial-content {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    text-align: left;

    .testimonial-customer {
      width: 45%;
      display: flex;
      gap: 5px;
      align-items: center;
      padding-left: 8%;

      .avatar {
        width: 90px;
        height: 90px;
        border: #fff 3px solid;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
  
      h4 {
        font-size: 1.2rem;
        margin: 0;
      }
  
      .role {
        margin-top: 5px;
        font-size: 0.9rem;
        opacity: 0.8;
      }
    }

    .testimonial-info {
      width: 55%;
      display: flex;

      blockquote {
        font-style: italic;
        margin-top: 8px;
      }
    }
  }
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  gap: 5px;

  button {
    color: #458FF6;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    padding-top: 0;
    border-radius: 50%;
    transition: all .2s ease-in-out;
  }

  .testimonial {
    border-radius: 50%;
    height: 6px;
    transition: all .2s ease-in-out;
    width: 6px;
    margin-right: 4px;
    background: #458FF6;
    opacity: .4;
  }

  .active-testimonial {
    opacity: 1;
  }
}
  